<ul class="list-group">
    <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" style="width: 18rem;" alt="Card image cap">
    <li class="list-group-item">Product name: {{lot.productName}}</li>
    <li class="list-group-item">Creator name: {{lot.creatorName}}</li>
    <li class="list-group-item">Product description: {{lot.productDescription}}</li>
    <li class="list-group-item">Start date: {{lot.startDate}}</li>
    <li class="list-group-item">End date: {{lot.endDate}}</li>
    <li class="list-group-item">Start price: {{lot.startPrice}}</li>
    <li class="list-group-item">Highest price: {{lot.highestPrice}}</li>
    <li>
        <h3>Bids: </h3>
        <ul class="list-group" id="bidList">
            <div *ngFor="let bid of lot.bids" class="col">
                <li class="list-group-item">{{bid.betTime}}</li>
                <li class="list-group-item">{{bid.bidSum}}</li>
                <li class="list-group-item">{{bid.ownerName}}</li>
            </div>
        </ul>
    </li>
</ul>

    <form id="BidCreateForm" class="form-signin" #createForm="ngForm" (ngSubmit)="createBid(createForm)">
        <div class="container-fluid">
            <h2 class="form-signin-heading">Create new bid</h2>
            <div *ngIf="invalidBid" class="alert alert-danger">{{invalidBidMessage}}</div>
            <br/>
    
            <label for="Sum" class="sr-only">Bid</label>
            <input type="number" id="Sum" name="Sum" ngModel class="form-control" placeholder="Bid" required>
            <div class="alert alert-danger"
                *ngIf="createForm.controls['Sum'].invalid && createForm.controls['Sum'].touched">
                Please enter your bid
            </div>
            <br/>
    
            <button [disabled]="createForm.invalid" id="BidCreateButton" class="btn btn-lg btn-primary btn-block" type="submit">Create Bid</button>
        </div>
    </form>

    <!--<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="container-fluid">
            <h2 class="form-signin-heading">Login</h2>
            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
            <br/>
            <label for="login" class="sr-only">Email address</label>
            <input type="email" id="login" name="login" ngModel class="form-control" placeholder="User Name" required autofocus>
            <br/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </div>
      </form>-->


