<!--<div class="widget">
  <ul class="widget-list">
    <li><a *ngIf="isUserAuthenticated()" routerLink="/lots">Лоти</a></li>
    <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Вхід</a></li>
    <li><a *ngIf="isUserAuthenticated()" class="logout" (click)="logOut()">Вихід</a></li>
  </ul>
</div>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">ZigZag</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a routerLink="/home/lots" class="nav-link active" aria-current="page">Lots</a>
        </li>
        <li *ngIf="!isUserAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a class="nav-link" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
