<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../assets/img/ZigZag_Logo.png" width="173" height="58" alt="ZigZag Logo">
    </a>
    <!-- <a class="navbar-brand" routerLink="/home">ZigZag</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a routerLink="/home/lots" class="nav-link active" aria-current="page">Lots</a>
        </li>
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a routerLink="/home/profile" class="nav-link active" aria-current="page">{{currentUserName}}</a>
        </li>
        <li *ngIf="!isUserAuthenticated()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isUserAuthenticated()" class="nav-item">
          <a class="nav-link" (click)="logOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
