<p>profile works!</p>
<router-outlet></router-outlet>
<ul>
    <li>
        <h5>
            <a routerLink="/home/profile/yourLots">
                My Lots
            </a>
        </h5>
    </li>
    <li>
        <h5>
            <a routerLink="/home/profile/yourProducts">
                My Products
            </a>
        </h5>
    </li>
    <li>
        <h5>
            <a routerLink="/home/profile/yourBids">
                My Bids
            </a>
        </h5>
    </li>
    <li>
        <h5>
            <a routerLink="/home/profile/yourProfile">
                My Profile
            </a>
        </h5>
    </li>
</ul>
